<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="/static/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="/static/bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<div class="row align-items-start">
    <div class="card col" style="width: 18rem;">
        <img src="/static/url.png" class="card-img-top" alt="Url" style=" height:10%; width: 10%">
        <div class="card-body">
            <h5 class="card-title">Сокращатель ссылок</h5>
            <p class="card-text">Изменинение ссылки. Сокращатель ссылок.</p>
            <a href="urls" class="btn btn-primary">Открыть</a>
        </div>
    </div>
    <div class="card col" style="width: 18rem;">
        <img src="/static/file.png" style=" height:10%; width: 10%" class="card-img-top" alt="file">
        <div class="card-body">
            <h5 class="card-title">Поделиться файлом</h5>
            <p class="card-text">Делись файлами онлайн.</p>
            <a href="files" class="btn btn-primary">Открыть</a>
        </div>
    </div>
</div>
<div class="row align-items-start">
    <div class="card col" style="width: 18rem;">
        <img src="/static/html.png" style=" height:10%; width: 10%" class="card-img-top" alt="file">
        <div class="card-body">
            <h5 class="card-title">Поделиться HTML</h5>
            <p class="card-text">Мини страницы на html. Доступные по ссылке</p>
            <a href="html" class="btn btn-primary">Открыть</a>
        </div>
    </div>
    <div class="card col" style="width: 18rem;">
        <img src="/static/ip.png" style=" height:10%; width: 10%" class="card-img-top" alt="file">
        <div class="card-body">
            <h5 class="card-title">IP logger</h5>
            <p class="card-text">IP logger. IP Logger URL Shortener позволяет отслеживать и регистрировать IP-адреса.</p>
            <a href="make_r" class="btn btn-primary">Открыть</a>
        </div>
    </div>
</div>
</body>
</html>